.db-documentation {
  .db-item {
    margin-bottom: 25px;

    overflow: hidden;

    border-radius: 20px;

    border: 1px solid #554f37;
  }

  .db-title {
    width: 100%;

    padding: 12px;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #201d26;

    border: none;

    font-size: 16px !important;

    font-weight: 700;

  }

  .db-content {
    display: none;

    padding: 20px;

    padding-top: 0;
  }

  .db-item.active .db-content {
    display: block;
  }

  .db-icon {
    font-size: 24px;

    font-weight: bold;
  }

  .db-item.active .db-icon {
    transform: rotate(45deg);
  }

  .db-step-image img {
    max-width: 350px;
    height: auto;
    margin: 30px auto;
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
